@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@200;300;400;600&family=Spartan&display=swap');
*{
  transition: all 420ms;
  user-select: none;
}
.btn{
  @apply bg-[#3A3636] px-4 py-1 text-white font-semibold rounded-md sm:px-5;
}

@tailwind base;
@tailwind components;

@tailwind utilities;



.shadow-white{
  box-shadow: 0 0px 10px 0 rgba(231, 230, 230, 0.4);
}